body {
  background: var(--color-bg-app);
  color: var(--color-text);
  font-size: var(--font-size-md);
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#app {
  height: 100vh;
  overflow: hidden;
}

button,
input {
  min-height: 42px;
}

button {
  cursor: pointer;
}
